@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import 'tailwindcss';

@theme {
  --color-card-blue-500: hsl(215, 51%, 70%);
  --color-card-cyan-400: hsl(178, 100%, 50%);
  --color-card-blue-950: hsl(217, 54%, 11%);
  --color-card-blue-900: hsl(216, 50%, 16%);
  --color-card-blue-800: hsl(215, 32%, 27%);
  --font-card-outfit: 'Outfit', ui-sans-serif, system-ui, sans-serif;
  --spacing-card-50: 4px;
  --spacing-card-100: 8px;
  --spacing-card-150: 12px;
  --spacing-card-200: 16px;
  --spacing-card-300: 24px;
  --spacing-card-500: 40px;
}

@layer base {
  body {
    background-color: var(--color-card-blue-950);
    font-family: var(--font-card-outfit);
  }
}
